@{
    ViewData["Title"] = "Home Page";
}

<form id="apiForm">
    <input id="fileInput" type="file" />
    <input type="submit" />
</form>

<table id="dataOutput" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Segment</th>
            <th>Country</th>
            <th>Product</th>
            <th>Discount Band</th>
            <th>Units Sold</th>
            <th>Manufacturing Price</th>
            <th>Sale Price</th>
            <th>Date</th>
        </tr>
    </thead>
</table>